@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Terminal;
  src: url("../public/fonts/TerminalLandMono-Regular.otf");
}

* {
  cursor: crosshair;
  background-color: #18181c;
  color:whitesmoke;
}

.glow {
  opacity: 100%;
  font-family: Terminal, sans-serif;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;
  }
  to {
    text-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;
  }
}

.glow:hover{
  text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 10px #14f104, 0 0 20px #2ae915, 0 0 30px #19ef12, 0 0 40px #42f41e;
  }
  to {
    text-shadow: 0 0 20px #56fe01, 0 0 30px #76f508, 0 0 40px #22ee08, 0 0 50px #39ef10;
  }
} */

.tv {
  opacity: .005;
}

.cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

/* define the blinking animation */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
