@tailwind base;
@tailwind components;
@tailwind utilities;




/* .blinker {
    @apply text-4xl;
    opacity: 1;
    margin-bottom: 0px;
    height: 15px;
    width: 20px;
    margin-left: 4px;
    border-left: 4px solid #ffff;
    animation: blinker 0.9s steps(2, start) infinite;
  }
  
@keyframes blinker {
    to { 
      visibility: hidden; 
    }
  } */